<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to(post.title, topic_post_path(@topic, post)) %>
    </h4>
    <small>
      <strong>submitted:</strong> <%= time_ago_in_words(post.created_at) %> ago <strong>by:</strong> <%= post.user.name %><br>
      <%= post.comments.count %> - Comments
    </small>
  </div>
</div>
